*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, sans-serif;
}

body{
    background:#f4f7fc;
    color:#222;
}

header{
    background:linear-gradient(to bottom,#0b4db3,#003b91);
    text-align:center;
    color:white;
    padding:30px 20px;
}

.logo{
    width:130px;
    height:130px;
    background:white;
    border-radius:50%;
    object-fit:contain;
    margin-bottom:15px;
}

header h1{
    font-size:50px;
    margin-bottom:10px;
}

header p{
    font-size:22px;
    letter-spacing:3px;
}

nav{
    background:#002d72;
    padding:18px;
    position:sticky;
    top:0;
    z-index:1000;
}

nav ul{
    display:flex;
    justify-content:center;
    gap:40px;
    list-style:none;
}

nav a{
    color:white;
    text-decoration:none;
    font-size:18px;
    padding:12px 25px;
    background:rgba(255,255,255,0.12);
    border:1px solid rgba(255,255,255,0.25);
    border-radius:7px; /* shumë të rrumbullakosura */
    transition:0.3s;
    display:inline-block;
    -webkit-backdrop-filter:blur(5px);
    backdrop-filter:blur(5px);
}

nav a:hover{
    background:#1e5bc6;
    color:white;
    transform:translateY(-2px);
}

/* TITULL */
.title{
    text-align:center;
    font-size:40px;
    margin:60px 0 20px;
    color:#003b91;
}

/* SEKSIONE */
.section-row{
    display:flex;
    align-items:center;
    justify-content:center;
    gap:50px;
    padding:60px 10%;
    flex-wrap:wrap;
}

.section-row img{
    width:350px;
    height:250px;
    object-fit:cover;
    border-radius:15px;
    box-shadow:0 10px 25px rgba(0,0,0,0.15);
}

.section-text{
    max-width:700px;
    font-size:18px;
    line-height:1.8;
}

/* HISTORIA (invert) */
.reverse{
    flex-direction:row-reverse;
}

footer{
    background:#002d72;
    color:white;
    text-align:center;
    padding:30px;
    margin-top:60px;
}

@media(max-width:768px){

    header h1{
        font-size:38px;
    }

    .hero h2{
        font-size:42px;
    }

    .hero p{
        font-size:20px;
    }

    nav ul{
        flex-direction:column;
        align-items:center;
        gap:15px;
    }
}